<h1>Computer Stock</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Purchase Date</th>
    <th>Purchase Price €</th>
    <th>Yearly kWh Consumption</th>
    <th></th>
  </tr>
  <tr *ngFor="let computer of computers">
    <td>{{computer.name}}</td>
    <td>{{computer.purchaseDate}}</td>
    <td>{{computer.purchasePrice}}</td>
    <td>{{computer.yearlyKWhConsumption}}</td>
    <td></td>
  </tr>
    <tr ngForm="computerForm">
      <!-- TODO: show validation status on the fields     -->
      <td><input type="text" placeholder="Name" [formControl]="computerForm.controls.name"></td>
      <td><input type="date" placeholder="Purchase Date" [formControl]="computerForm.controls.purchaseDate"></td>
      <td><input type="text" placeholder="Purchase Price €" [formControl]="computerForm.controls.purchasePrice"></td>
      <td><input type="text" placeholder="Yearly Electric Consumption (kWh)" [formControl]="computerForm.controls.yearlyConsumption"></td>
      <td>
        <button (click)="createComputer()" [disabled]="computerForm.invalid">Create</button>
      </td>
    </tr>

</table>

<h1>
  Dashboard
</h1>
<h2>Monthly Spendings</h2>
<table>
  <tr>
    <td *ngFor="let month of monthlySpendings">
      {{month.startDate | date:'MMM y'}}
    </td>
  </tr>
  <tr>
    <td *ngFor="let month of monthlySpendings">
      {{month.spendings}} €
    </td>
  </tr>
</table>
<h2>Monthly Consumption</h2>
<table>
  <tr>
    <td *ngFor="let month of monthlyConsumption">
      {{month.startDate | date:'MMM y'}}
    </td>
  </tr>
  <tr>
    <td *ngFor="let month of monthlyConsumption">
      {{month.kwhConsumption}} kWh
    </td>
  </tr>
</table>



